/*reset de propriedades do css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    body {
        background-color:#EFEFEF;
    }
    header {
        width: 100%;
        height: 80px;
        background-color: #727272;
    }
    .header-flex {
        display:flex;
        justify-content: space-between;
    }

    h1 {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 30px;
      font-weight: 300;
      color: white;
    }
    /* caixa para centralizar o conteudo */
    .layout-grid {
        width: 100%;
        height: 100%;
        max-width: 992px;
        margin: 0 auto;
        border: 3px solid black ;
        
    }
    .header-flex {
        display: flex;
        justify-content: space-between;
    }
    nav {
        width: 400px;
        height: 100%;
        border: 3px solid white;
    }